html, body {
    font-family: Cambria, serif;
}

#navigation {
    background: #fafafa;
    padding: 10px;
    overflow: hidden;
}
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navigation ul li {
    float: left;
    display: block;
    margin-right: 20px;
}
#navigation ul li a {
    text-decoration: none;
    font-size: 18px;
    padding-bottom: 2px;
    color: #333;
}
#navigation ul li a:hover, #navigation ul li a.active {
    border-bottom: 2px solid #333;
    padding-bottom: 0;
}

.narrow-content {
    width: 600px;
}

.example-container {
    overflow: hidden;
    width: 100%;
    margin-top: 100px;
}
.example {
    float: left;
    width: 100%;
}
.example-code {
    float: left;
    margin-left: 20px;
}
pre {
    white-space: pre;
    background: #fafafa;
    padding: 10px 10px 0 10px;
}

h2 {
    margin-top: 0 !important;
}