svg {
    font-family: Cambria;
    width: 100%;
}

svg .map {
    fill: #ccc;
}

svg .point,
svg .arrow{
    fill: #e6228d;
    cursor: pointer;
    stroke: white;
}

svg .axis path,
svg .axis line {
    fill: none;
    stroke: #888;
    shape-rendering: crispEdges;
}